<a href="https://colab.research.google.com/github/pkRaksha/ETL--Project/blob/main/ETL_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Covid Data Analysis

# Summary

Real time covid data is taken from an api . The data is extracted and stored in the form of key value pairs in a dictionary . To perform data tranformations the data is converted to a pandas dataframe . The essential columns are taken and processed . The final tranformed data is loaded into Power BI Desktop . The table is further cleaned by removing null values and detailed report is created

In [ ]:
# import Libraries
import requests
import json
import pandas as pd
from pandas import json_normalize

# Extracting the data from API

In [ ]:
#Extract data from API 
response_API = requests.get('https://api.covid19india.org/state_district_wise.json')
print(response_API.status_code)
data = response_API.text

200

In [ ]:
#Store the data in dictionary format and load it into a dataframe 
dict= json.loads(data)
df2 = pd.DataFrame.from_dict(dict,orient='index')

In [ ]:
df2=df2.reset_index()

# Transforming Data

In [ ]:
df2.columns

Index(['index', 'districtData', 'statecode'], dtype='object')

In [ ]:
df2

,index,districtData,statecode
0,State Unassigned,"{'Unassigned': {'notes': '', 'active': 0, 'con...",UN
1,Andaman and Nicobar Islands,{'Nicobars': {'notes': 'District-wise numbers ...,AN
2,Andhra Pradesh,"{'Foreign Evacuees': {'notes': '', 'active': 0...",AP
3,Arunachal Pradesh,"{'Anjaw': {'notes': '', 'active': 48, 'confirm...",AR
4,Assam,"{'Airport Quarantine': {'notes': '', 'active':...",AS
5,Bihar,"{'Araria': {'notes': '', 'active': 8, 'confirm...",BR
6,Chandigarh,"{'Chandigarh': {'notes': '', 'active': 35, 'co...",CH
7,Chhattisgarh,"{'Other State': {'notes': '', 'active': 19, 'c...",CT
8,Delhi,{'Central Delhi': {'notes': 'District-wise num...,DL
9,Dadra and Nagar Haveli and Daman and Diu,"{'Other State': {'notes': '', 'active': 0, 'co...",DN
10,Goa,{'Other State': {'notes': 'District-wise numbe...,GA
11,Gujarat,"{'Other State': {'notes': '', 'active': 0, 'co...",GJ
12,Himachal Pradesh,"{'Bilaspur': {'notes': '', 'active': 152, 'con...",HP
13,Haryana,"{'Foreign Evacuees': {'notes': '', 'active': 0...",HR
14,Jharkhand,"{'Bokaro': {'notes': '', 'active': 4, 'confirm...",JH
15,Jammu and Kashmir,"{'Anantnag': {'notes': '', 'active': 24, 'conf...",JK
16,Karnataka,"{'Bagalkote': {'notes': '', 'active': 39, 'con...",KA
17,Kerala,"{'Other State': {'notes': '', 'active': 0, 'co...",KL
18,Ladakh,"{'Kargil': {'notes': '', 'active': 18, 'confir...",LA
19,Lakshadweep,"{'Lakshadweep': {'notes': '', 'active': 43, 'c...",LD
20,Maharashtra,"{'Ahmednagar': {'notes': '', 'active': 5231, '...",MH
21,Meghalaya,"{'East Garo Hills': {'notes': '', 'active': 56...",ML
22,Manipur,"{'CAPF Personnel': {'notes': '', 'active': 156...",MN
23,Madhya Pradesh,"{'Agar Malwa': {'notes': '', 'active': 0, 'con...",MP
24,Mizoram,"{'Aizawl': {'notes': '', 'active': 8728, 'conf...",MZ
25,Nagaland,"{'Others': {'notes': '', 'active': 0, 'confirm...",NL
26,Odisha,"{'State Pool': {'notes': '', 'active': 762, 'c...",OR
27,Punjab,"{'Amritsar': {'notes': '', 'active': 32, 'conf...",PB
28,Puducherry,{'Karaikal': {'notes': '2 case of TN has been ...,PY
29,Rajasthan,"{'Ajmer': {'notes': '', 'active': 14, 'confirm...",RJ
30,Sikkim,"{'East Sikkim': {'notes': '', 'active': 10831,...",SK
31,Telangana,{'Foreign Evacuees': {'notes': 'District-wise ...,TG
32,Tamil Nadu,"{'Railway Quarantine': {'notes': '', 'active':...",TN
33,Tripura,"{'Dhalai': {'notes': '', 'active': 107, 'confi...",TR
34,Uttar Pradesh,"{'Agra': {'notes': '', 'active': 8, 'confirmed...",UP
35,Uttarakhand,"{'Almora': {'notes': '', 'active': 6, 'confirm...",UT
36,West Bengal,"{'Alipurduar': {'notes': '', 'active': 243, 'c...",WB

In [ ]:
#Creating new columns to store the number of active ,confirmed ,deceased and recovered pateints count

df2['city']=df2['districtData'].apply(lambda x:[i for i in x] )
df2['active']=df2['districtData'].apply(lambda x:[x[i]['active'] for i in x ])
df2['confirmed']=df2['districtData'].apply(lambda x:[x[i]['confirmed'] for i in x ])
df2['deceased']=df2['districtData'].apply(lambda x:[x[i]['deceased'] for i in x ])
df2['recovered']=df2['districtData'].apply(lambda x:[x[i]['recovered'] for i in x ])

In [ ]:
df2.drop(columns=["districtData"], axis = 1,inplace=True)

In [ ]:
df2.rename(columns={'index':'State','active':'num_active_cases','confirmed':'num_of_confirmed_cases','deceased':'num_of_deceased_cases','recovered':'num_recovered_cases'},inplace=True)

In [ ]:
df2.head()

,State,statecode,city,num_active_cases,num_of_confirmed_cases,num_of_deceased_cases,num_recovered_cases
0,State Unassigned,UN,[Unassigned],[0],[0],[0],[0]
1,Andaman and Nicobar Islands,AN,"[Nicobars, North and Middle Andaman, South And...","[0, 0, 19, -13]","[0, 1, 51, 7496]","[0, 0, 0, 129]","[0, 1, 32, 7380]"
2,Andhra Pradesh,AP,"[Foreign Evacuees, Anantapur, Chittoor, East G...","[0, 247, 2778, 3065, 1605, 3111, 216, 0, 1470,...","[434, 156673, 234198, 281384, 169978, 111221, ...","[0, 1089, 1783, 1232, 1163, 1250, 844, 0, 1023...","[434, 155337, 229637, 277087, 167210, 106860, ..."
3,Arunachal Pradesh,AR,"[Anjaw, Changlang, East Kameng, East Siang, Ka...","[48, 71, 35, 102, 60, 7, 2, 41, 144, 14, 89, 5...","[985, 3621, 1066, 2936, 460, 256, 507, 762, 26...","[3, 20, 0, 17, 0, 0, 1, 2, 26, 2, 9, 8, 11, 15...","[934, 3530, 1031, 2817, 400, 249, 504, 719, 24..."
4,Assam,AS,"[Airport Quarantine, Baksa, Barpeta, Biswanath...","[0, 5510, 10368, 8010, 5321, 22029, 3312, 2353...","[13, 6013, 11543, 8439, 6222, 23713, 3464, 260...","[0, 56, 151, 50, 67, 186, 47, 34, 99, 39, 51, ...","[13, 447, 1024, 379, 834, 1498, 105, 219, 1730..."

In [ ]:
def splitDataFrameList(df,target_column,separator):
    ''' df = dataframe to split,
    target_column = the column containing the values to split
    separator = the symbol used to perform the split
    returns: a dataframe with each entry for the target column separated, with each element moved into a new row. 
    The values in the other columns are duplicated across the newly divided rows.
    '''
    def splitListToRows(row,row_accumulator,target_column,separator):
        split_row = row[target_column]
        for s in split_row:
            new_row = row.to_dict()
            new_row[target_column] = s
            row_accumulator.append(new_row)
    new_rows = []
    df.apply(splitListToRows,axis=1,args = (new_rows,target_column,separator))
    new_df = pd.DataFrame(new_rows)
    return new_df

In [ ]:
#Split the lists into separate rows to store each value in each row 

city_split=splitDataFrameList(df2[['State','city']],'city',',')
active_split=splitDataFrameList(df2[['State','num_active_cases']],'num_active_cases',',')
confirmed_split=splitDataFrameList(df2[['State','num_of_confirmed_cases']],'num_of_confirmed_cases',',')
deceased_split=splitDataFrameList(df2[['State','num_of_deceased_cases']],'num_of_deceased_cases',',')
recovered_split=splitDataFrameList(df2[['State','num_recovered_cases']],'num_recovered_cases',',')

In [ ]:
# Concatinating all the columns 
frames=[city_split,active_split['num_active_cases'],confirmed_split['num_of_confirmed_cases'],deceased_split['num_of_deceased_cases'],recovered_split['num_recovered_cases']]
Covid_case_details = pd.concat(frames,axis=1)

In [ ]:
Covid_case_details

,State,city,num_active_cases,num_of_confirmed_cases,num_of_deceased_cases,num_recovered_cases
0,State Unassigned,Unassigned,0,0,0,0
1,Andaman and Nicobar Islands,Nicobars,0,0,0,0
2,Andaman and Nicobar Islands,North and Middle Andaman,0,1,0,1
3,Andaman and Nicobar Islands,South Andaman,19,51,0,32
4,Andaman and Nicobar Islands,Unknown,-13,7496,129,7380
...,...,...,...,...,...,...
770,West Bengal,Purba Bardhaman,342,40241,184,39715
771,West Bengal,Purba Medinipur,692,60872,378,59802
772,West Bengal,Purulia,55,19205,112,19038
773,West Bengal,South 24 Parganas,658,96592,1278,94656
774,West Bengal,Uttar Dinajpur,126,19513,233,19154

## Loading the data in a CSV file format

In [ ]:
#Mounting the drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
#Writing in a CSV file
file_name='/content/gdrive/MyDrive/Covid_data.csv'
Covid_case_details.to_csv(file_name,index=False)